In [71]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [72]:
dataset = pd.read_csv('data.csv')
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [73]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [74]:
def most_frequent(List): 
    counter = 0
    num = List[0]
    
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
    return num

In [75]:
def KNN(data, y, test, k = 5):
    _dist = {}
    for i in range(len(data)):
        dist = 0
        for j in range(len(data[0])):
            dist += (test[j] - data[i][j]) ** 2
        _dist[math.sqrt(dist)] = y[i]
#     print(_dist)
    
    top = []
    count = 0
    for i in sorted (_dist.keys()):
        top.append(_dist[i])
        count+=1
        if(count == k):
            break
#     print("closest:", top)
#     print()
    return most_frequent(top)

In [76]:
y_pred = []
for i in range(len(X_test)):
    y_pred.append(KNN(X_train, y_train, X_test[i]))
y_pred = np.asarray(y_pred)
# df_test.insert(len(df_test.columns),"Predicted Risk",result )
# print(result)
# print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)[:10])

In [77]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred))
print(len(y_pred))

[[64  4]
 [ 3 29]]
0.93
100