In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv("OnlineRetail.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [4]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

In [5]:
# Set transactions
gp_invoiceno = df.groupby(['InvoiceNo','InvoiceDate'])
transactions = []
for name,group in gp_invoiceno:
    transactions.append(list(group['Description'].map(str)))

In [6]:
transactions[0]

['WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER']

In [9]:
from apyori import apriori
rules = apriori( transactions , min_support = 0.001, min_confidence = 0.8, max_length = 10)

In [ ]:
results = list(rules)
results

In [38]:
print("There are {} RULES derived.".format(len(results)))

There are 39 RULES derived.

In [39]:
for i in  range(10):
  item = results[i] 
  pair=item[0]
  #print(pair)
  items=[x for x in pair]
  #print (items)
  print(items[0]+'->'+items[1])
  # second index of the inner list
  print("Support: " + str(item[1]))
  # third index of the list located at 0th
  # of the third index of the inner list

  print("Confidence: " + str(item[2][0][2]))
  print("Lift: " + str(item[2][0][3]))
  print("==============",i+1,"=================")

PINK REGENCY TEACUP AND SAUCER->GREEN REGENCY TEACUP AND SAUCER
Support: 0.02863475979372116
Confidence: 0.8263707571801566
Lift: 17.99778518051679
============== 1 =================
REGENCY TEA PLATE GREEN->REGENCY TEA PLATE PINK
Support: 0.012575771283814348
Confidence: 0.9114754098360655
Lift: 52.88471236177444
============== 2 =================
REGENCY TEA PLATE GREEN->REGENCY TEA PLATE ROSES
Support: 0.014430471365240206
Confidence: 0.837270341207349
Lift: 41.592580140965524
============== 3 =================
REGENCY TEA PLATE ROSES->REGENCY TEA PLATE PINK
Support: 0.012168641997647698
Confidence: 0.8819672131147541
Lift: 43.81296002947136
============== 4 =================
SET/6 RED SPOTTY PAPER PLATES->SET/6 RED SPOTTY PAPER CUPS
Support: 0.015832805573147563
Confidence: 0.8177570093457944
Lift: 34.23737963749646
============== 5 =================
WOODEN TREE CHRISTMAS SCANDINAVIAN->WOODEN STAR CHRISTMAS SCANDINAVIAN
Support: 0.0127114810458699
Confidence: 0.8313609467455622
Lift: 35.89465837647929
============== 6 =================
ALARM CLOCK BAKELIKE CHOCOLATE->ALARM CLOCK BAKELIKE RED
Support: 0.01017823215416629
Confidence: 0.8122743682310469
Lift: 17.084811783173667
============== 7 =================
RED RETROSPOT CHARLOTTE BAG->CHARLOTTE BAG PINK POLKADOT
Support: 0.01013299556681444
Confidence: 0.8296296296296296
Lift: 17.736743319722045
============== 8 =================
STRAWBERRY CHARLOTTE BAG->RED RETROSPOT CHARLOTTE BAG
Support: 0.014656654301999457
Confidence: 0.8594164456233422
Lift: 18.3735589428913
============== 9 =================
RED RETROSPOT CHARLOTTE BAG->WOODLAND CHARLOTTE BAG
Support: 0.014611417714647607
Confidence: 0.821882951653944
Lift: 17.571126237197376
============== 10 =================

In [40]:
rules = apriori( transactions ,  min_confidence = 1)

In [41]:
results = list(rules)

In [42]:
print("There are {} RULES derived.".format(len(results)))

There are 0 RULES derived.

In [43]:
rules = apriori( transactions , max_length = 3)

In [44]:
results = list(rules)
print("There are {} RULES derived.".format(len(results)))

There are 1 RULES derived.

In [45]:
results

[RelationRecord(items=frozenset({'WHITE HANGING HEART T-LIGHT HOLDER'}), support=0.1022346874151814, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'WHITE HANGING HEART T-LIGHT HOLDER'}), confidence=0.1022346874151814, lift=1.0)])]